[Unit]
Description=Server for tabmanager browser plugin

[Service]
Type=exec
WorkingDirectory=%h/src/personal/tabmanager/tabmanager-server
; TODO improve this
ExecStart=%h/src/personal/tabmanager/tabmanager-server/node_modules/.bin/tsx %h/src/personal/tabmanager/tabmanager-server/src/server.ts
Restart=always
RestartSec=1
; TODO this too
Environment=PATH=%h/.local/opt/nvm/versions/node/v18.20.4/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin

[Install]
WantedBy=default.target
