body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    min-width: 200px;
    display: block;
    margin: 0px;
}

#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    /*text-overflow: ellipsis; */
    overflow: hidden;
    min-width: 400px;
}
#header {
    display:block;
    height:32px;
    width:100%;
    background:#dddddd;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75)
}
#body {
    margin: 4px;
    clear:both;
}

#refresh_button {
    padding:5px;
    cursor: pointer;
    min-height: 1em;
}
#popout_button {
    padding:5px;
    cursor: pointer;
    min-height: 1em;
}

i {
    max-height: .5em;
}

div {
    white-space: nowrap;
}

.favicon {
    position:relative;
    top: -2px;
    height: 20px;
}
div.window_hover {
    background: lightblue;
}
.row-content {
    display:block;
    overflow: hidden;
}
.contextMarker {
    float:left;
    vertical-align: middle;
    position: relative;
    box-sizing: content-box;
    top: 5px;
    padding:4px
}

.button-icon {
    color: rgba(0, 0, 0, 0.26);
}
.button-icon:hover {
    color:rgba(0, 0, 0, 1.0);
    cursor: pointer;
}

.trash {
    max-height: 24;
}

.star_filled {
    color: rgba(0, 0, 0, 0.26);
}
.star_filled:hover {
    color: rgba(255, 193, 7, 1.0);
}
.star_border {
    color: rgba(0, 0, 0, 0.26);
}
.star_border:hover {
    color: rgba(0, 0, 0, 1.0);
}

.tab {
    display: flex;
}
.tab:hover {
    background: lightblue;
    cursor: pointer;
}
.activeTab {
    font-weight:bold;
}
.tabTitle {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sortable-ghost,
.sortable-ghost .trash,
.sortable-ghost img,
.sortable-ghost .star_border {
    color: rgba(0, 0, 0, 0);
    opacity: 0;
}
