@import "~bootstrap/scss/bootstrap";
@import "window";
// // Functions come first
// @import "~bootstrap/scss/functions";

// // boostrap variables
// @import "~bootstrap/scss/variables";
// // // custom variables
// // @import "custom-variables";

// // // boostrap utilities
// // @import "~bootstrap/scss/utilities";
// // // // custom utilities
// // // @import "custom-utilities";

// // boostrap mixins
// @import "~bootstrap/scss/mixins";
// // // custom mixins
// // @import "mixins/index";

// // Layout & components
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";
// // Helpers
// @import "~bootstrap/scss/helpers";

// // Utilities
// @import "~bootstrap/scss/utilities/api";

// // // our customizations of bootstrap (or additional classes built of boostrap conventions)
// // @import "customizations/index";

// // // Work towards deprecating as much of this as possible, utilizing bootstrap styles as much as possible.
// // @import "theme/theme";
